/*Globals style*/
html{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	font-family: "Helvetica Neue",Arial,sans-serif;
	-webkit-font-smoothing:antialiased;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	color:#000;
	text-decoration: none;
}
a:hover,a:visited,a:focus{
	color: #20B2AA;
	text-decoration: none;
}
input,input[type="submit"],button{
	border: 1px solid #c8c8c8 !important;
	padding: 5px 10px;
}
h1{
	font-size: 2.2em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.8em;
}
h4{
	font-size: 1.55em;
}
h5{
	font-size: 1.3em;
}
h6{
	font-size: 1.1em;
}
table,table tr,table td{
	border: 1px solid #ccc;
	padding: 8px;
}
tr td{
	padding: 10px;
}

.clear{
	clear: both;
}
/*style container*/
.container{

}
/***********************Style header*************************/
#header{
	width: 100%;
	height: 100px;
	background:  #fff;
	margin: 0 auto; 	
}
#header p{
	text-align: center;
    color: #F44336;
    font-size: 20px;
    padding: 30px 0 0 0;
    font-weight: bold;
}
#header .choose-year{
    margin: 30px auto;
    width: 20%;
}
/***********************Style navBar*************************/
#link-log{
	padding: 20px;
	background: 	#3f51b5;
	color: #fff;
}
#menu{
	background: #3f51b5;

}
#menu ul {
  	padding: 0;
    margin: 0;
}
#menu ul li {
  	display: inline-block;
  	position: relative;
}
#menu ul li a {
  	color: #fff;
  	font-weight: bold;
  	display: block;
  	font-size: 14px;
  	padding: 15px 14px;
  	transition: 0.3s linear;
}
#menu ul li:hover {
	 background: #126d9b;
}
#menu ul li ul {
 	border-bottom: 5px solid #2ba0db;
  	display: none;
  	position: absolute;
  	width: 250px;
  	z-index: 1;
}
#menu ul li ul li {
  	border-top: 1px solid #444;
  	display: block;
}
#menu ul li ul li:first-child {
	 border-top: none; 
}
#menu ul li ul li a {
	background: #373737;
  	display: block;
  	padding: 10px 14px;
}
#menu ul li ul li a:hover { 
	background: #126d9b; 
}
/****************************************/
#sidebar{
	width: 20%;
	float: right;
	height: 500px;
	border-left: 1px solid #ccc;
}
#sidebar .login{
	margin: 20px;
}
 
/***********************Style footer*************************/
#footer{
	margin: 0 auto;
	padding-top: 10px;
	height: 60px;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background: #4040DA;
}

/*quoc-edit*/
.group-content{
	border: 1px solid #9e9e9e;
	border-radius: 5px;
	padding: 15px;
    margin: 10px 0;
}
.log-out{
	float: right;
    line-height: 50px;
}
.file-excel, .menu-child{
	text-decoration: underline;
}
.form-group{
	margin-bottom: 7px;
}
.title{
	font-size: 23px;
    text-align: center;
}
.no-pad{
	padding:0;
}
#form{
	margin: 0 0 10px;
}